<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/java.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../../styles/sidebars.js" defer></script>
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/index.css">
    <link rel="stylesheet" href="../../styles/student.css">
</head>

<body>
    <header>
        <div class="left">
            <button id="back-button" onclick="window.location.href='../../index.html'">Student List</button>
            <button id="left-sidebar-button">Toggle File List</button>
            <button id="right-sidebar-button">Toggle Test Results</button>
            {{!-- <button id="bottom-sidebar-button">Toggle Tests</button> --}}
            <button id="open-tests" onclick="window.open('../../tests.html', '_blank')">Tests</button>
        </div>
        <div class="middle">
            <h1>{{student}}</h1>
        </div>
        <div class="right"></div>
    </header>
    <div id="container">
        <div id="left-sidebar" class="open">
            <h2>File List</h2>
            {{#each files}}
                <a href="./{{this.html_path}}">{{this.java_path}}</a>
            {{/each}}
            <div id="prev-next-buttons">
                <a class="button" href="../{{prev_student}}">{{prev_student}}</a>
                <a class="button" href="../{{next_student}}">{{next_student}}</a>
            </div>
        </div>
        <div id="code">
            <pre><code class="language-java">
                {{code}}
            </code></pre>
        </div>
        <div id="right-sidebar" class="open">
                {{#each test_contexts}}
                    <h3>
                        {{this.test_package_name}}
                    </h3>
                    {{#if this.compile_error}}
                        <p>Compile Error</p>
                    {{/if}}

                    {{#if this.other_error}}
                        <p>Unknown error</p>
                    {{/if}}

                    {{#if this.not_ran}}
                        <p>Not Ran</p>
                    {{/if}}

                    {{#each subpackages}}
                        <div>
                            <h4>{{this.subpackage_name}}</h4>
                            {{#if (and this.passing_tests (not this.failing_tests 0))}}
                                <p>Ok</p>
                            {{else}}
                                <details>
                                    <summary>Passing</summary>
                                    {{#each this.passing_tests}}
                                    <p>
                                        {{this.name}}
                                    </p>
                                    {{/each}}
                                </details>

                                <details open>
                                    <summary>Failing</summary>
                                    {{#each this.failing_tests}}
                                    <details>
                                        <summary style="color: red;">
                                            {{this.name}}
                                        </summary>
                                        <p>
                                            {{this.msg}}
                                        </p>
                                    </details>
                                    {{/each}}
                                </details>
                            {{/if}}
                        </div>

                    {{/each}}

                {{/each}}
        </div>

    </div>
</body>

</html>